{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customers</h1>
    <br />
<ul>
    {% for data in data %}
        <li>{{ data.customer.name }} [Orders: {{ data.orderCount }}] {% if data.customer.contacts %}{{ data.customer.contacts[0].email }}{% endif %} <a href="{{ path('customers_view',{id:data.customer.id}) }}">view</a></li>
    {% endfor %}
</ul>
{% endblock %}
