{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customers</h1>
    <br />
<ul>
    {% for customer in customers %}
        <li>{{ customer[0].name }} [Orders: {{ customer[1] }}] {% if customer[0].contacts %}{{ customer[0].contacts[0].email }}{% endif %} <a href="{{ path('customers_view',{id:customer[0].id}) }}">view</a></li>
    {% endfor %}
</ul>
{% endblock %}
