{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customers</h1>
    <br />
<ul>
    {% for customer in customers %}
        <li>{{ customer[0].name }} [Orders: {{ customer.orders_count }}] {% if contacts[customer[0].id] is defined %}{{ contacts[customer[0].id].email }}{% endif %} <a href="{{ path('customers_view',{id:customer[0].id}) }}">view</a></li>
    {% endfor %}
</ul>
{% endblock %}
