{% extends 'base.html.twig' %}

{% block body %}
Hi!
Tasks:
    <ol>
        <li>Naprawić stronę Customers żeby wyświetlała wszytkich klientów (teraz wyświetla tylko 50).</li>
        <li>Naprawić stronę Reports - ma wyświetlać tabelkę zawierającą sumy wszystkich zamówień dla danego roku i marki (brand)</li>
        <li>Zmienić stronę Brands, żeby w nawiasach obok nazwy marki wyświetlić nazwę Customera który ma najwięcej zamówień (kwotowo) dane marki</li>
    </ol>
{% endblock %}
