{% extends 'base.html.twig' %}

{% block body %}
<h1>Report</h1>
   <table class="table table-border">
       
       <tr>
           <th> Y/B </th>
           {% for year in years %}
                <td> {{ year }} </td>
           {% endfor %}
       </tr>
       {% for key, value in brandsAndValues %}   
        <tr>
             <th> {{ key }} </th>  
             {% for k, v in value %}
                <td> {{ v }} </td>
             {% endfor %}
        </tr>
       {% endfor %}           

       
   </table>
{% endblock %}
