{% extends 'base.html.twig' %}

{% block body %}
<h1>Report</h1>
   <table class="table table-border">
       <tr><th>Year</th>
          <th>Total</th> 
           {% for brand in brands %}
               <th>{{ brand.name }}</th>
           {% endfor %}
       </tr>
       {% for year,r in results %}
           <tr>
               <th>{{ year }}</th>
               <td>${{ r.total|number_format(2) }}</td>
           {% for v in r.brands %}
            <td>${{ v|number_format(2) }}</td>
           {% endfor %}
           </tr>
       {% endfor %}
   </table>
{% endblock %}
