{% extends 'base.html.twig' %}

{% block body %}
    <h1>Brands</h1>
    <br />
<ul>
    {% for row in brands %}
        <li>{{ row.0.name }} ({{ row.1.name }})</li>
    {% endfor %}
</ul>
{% endblock %}
