{% extends 'base.html.twig' %}

{% block body %}
    <h1>Brands</h1>
    <br />
<ul>
    {% for brand in brands %}
        <li>{{ brand.brand_name }} [{{ brand.customer_name }}]</li>
    {% endfor %}
</ul>
{% endblock %}
