{% extends 'base.html.twig' %}

{% block body %}
    <h1>Brands</h1>
    <br />
<ul>
    {% for set in ordersData %}
        <li>{{ set.brand }} ( {{ set.name }} - {{set.total}} )</li>
    {% endfor %}
</ul>
{% endblock %}
