{% extends 'base.html.twig' %}

{% block body %}
    <h1>Brands</h1>
    <br />
<ul>
    {% for result in results %}
        <li>{{ result.brand }} ( {{ result.name }} - {{result.total}} )</li>
    {% endfor %}
</ul>
{% endblock %}
