{% extends 'base.html.twig' %}

{% block body %}
    <h1>Brands</h1>
    <br />
<ul>
    {% for row in rows %}
        <li>{{ row.brand.name }} {% if row.customer %}{{row.customer.name}}{% endif %}</li>
    {% endfor %}
</ul>
{% endblock %}
